In [1]:
from urllib.request import urlopen, Request

In [2]:
my_request = Request(
    url = 'https://www.jumia.co.ke/mlp-tech-week-h-everything-computers/',
    headers = {'User-Agent' : 'Mozilla/5.0'}
)

In [9]:
page = urlopen(my_request)
html_bytes = page.read()
html = html_bytes.decode()
# print(html)

In [10]:
from urllib.request import urlopen, Request
def get_html(url):
    my_request = Request(
        url = url,
        headers = {'User-Agent' : 'Mozilla/5.0'}
    )

    try:
        page = urlopen(my_request)
        html_bytes = page.read()
        html = html_bytes.decode()
        return html
    except ValueError:
        print("unkonwn url")

In [11]:
html2 = get_html('https://www.jumia.co.ke/')
f = open("test1.html", "w")
f.write(html2)
f.close()

In [12]:
html2 = get_html("http://olympus.realpython.org/profiles/dionysus")
print(html2)

<html>
<head>
<TITLE >Profile: Dionysus</title  / >
</head>
<body bgcolor="yellow">
<center>
<br><br>
<img src="/static/dionysus.jpg" />
<h2>Name: Dionysus</h2>
<img src="/static/grapes.png"><br><br>
Hometown: Mount Olympus
<br><br>
Favorite animal: Leopard <br>
<br>
Favorite Color: Wine
</center>
</body>
</html>

In [13]:
pattern = '<h2.*?</'

In [14]:
# html3 = get_html("https://www.jumia.co.ke/")
from bs4 import BeautifulSoup
soup = BeautifulSoup(html3, "html.parser")
# print(soup.get_text())

NameError: name 'html3' is not defined

In [16]:
# print(get_html("https://fast.com/"))

In [18]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(get_html('https://isk.or.ke/'), "html.parser")
k = soup.get_text()
# k.find("Mbps")

In [19]:
k[1200:1263]

'cess guide\nresources\n\n55TH AGM DOCUMENTS\n\n\nResearch\nDownloads\n\n'

In [20]:
speed = soup.find(class_="row")
speed

<div class="row">
<div align="center" class="col-md-3 mydarkbluebg">Latest News:</div>
<div class="col-md-9 mylightbluebg"><marquee>
<a class="alink" href="https://isk.or.ke/2024/02/19/isk-2024-examination-briefing/">
							ISK 2024 EXAMINATION BRIEFING</a>   |

							<a class="alink" href="https://isk.or.ke/2023/05/24/isk-statement-on-the-role-of-national-land-commision-with-respect-to-valuation-for-compulsory-land-acquisitions-in-kenya/">
							ISK STATEMENT ON THE ROLE OF NATIONAL LAND COMMISION WITH RESPECT TO VALUATION FOR COMPULSORY LAND ACQUISITIONS IN KENYA</a>   |

							<a class="alink" href="https://isk.or.ke/2023/03/30/isk-pays-a-courtesy-call-to-kenya-national-highways-authority-kenha/">
							ISK PAYS A COURTESY CALL TO KENYA NATIONAL HIGHWAYS AUTHORITY (KENHA)</a>   |

							<a class="alink" href="https://isk.or.ke/2023/03/30/isk-celebrates-global-surveyors-day/">
							ISK CELEBRATES GLOBAL SURVEYORS’ DAY</a>   |

							<a class="alink" href="https://isk.or.ke/2023/03/30/invitation-to-the-isk-rcmrd-surveying-workshop-27th-28th-april-2023/">
							INVITATION TO THE ISK- RCMRD SURVEYING WORKSHOP, 27TH &amp; 28TH APRIL 2023</a>   |

							</marquee></div>
</div>

In [43]:
# feedback hunter

pdt_url = "https://www.jumia.co.ke/vitron-v527-2.1-ch-multimedia-speaker-btusbsdfm-9000w-25642251.html"
# pdt_url = "https://isk.or.ke/"

pdt_html = get_html(pdt_url)
from bs4 import BeautifulSoup

soup = BeautifulSoup(pdt_html, 'html.parser')

In [44]:
feed_back_sec = soup.find('a', class_='btn _def _ti -mhs -fsh0')

In [45]:
print(feed_back_sec)

<a class="btn _def _ti -mhs -fsh0" href="/catalog/productratingsreviews/sku/VI505EL092BF0NAFAMZ/">See All<svg class="ic -f-or5" height="24" viewbox="0 0 24 24" width="24"><use xlink:href="https://www.jumia.co.ke/assets_he/images/i-icons.a66628fd.svg#arrow-right"></use></svg></a>

In [46]:
feed_back_a = feed_back_sec.get('href')
print(feed_back_a)

/catalog/productratingsreviews/sku/VI505EL092BF0NAFAMZ/

In [47]:
BASE_URL = 'https://jumia.co.ke'
feedback_page = BASE_URL + feed_back_a
print(feedback_page)

https://jumia.co.ke/catalog/productratingsreviews/sku/VI505EL092BF0NAFAMZ/

In [48]:
def get_feedback_url(html):
    soup = BeautifulSoup(html, 'html.parser')
    feed_back_section = soup.find('a', class_='btn _def _ti -mhs -fsh0')
    feed_back_anchor = feed_back_section.get('href')
    feedback_page_url = BASE_URL + feed_back_anchor
    return feedback_page_url

In [49]:
feed_back_page = get_feedback_url(pdt_html)
html234 = get_html(feed_back_page)
# print(feed_back_page)
# print(html234)

In [50]:
soup2 = BeautifulSoup(html234, 'html.parser')
test = soup2.find('div', class_="cola -phm -df -d-co")
# print(test)

In [29]:
# get total reviews
total_ratings = soup2.find('h2', class_="-fs14 -m -upp -pvm")
total_ratings.get_text()

'Verified Ratings (17)'

In [30]:
five_star_review = soup2.find('span', class_="-b")
five_star_review.get_text()

'3.5'

In [31]:
verified_ratings = soup2.find('p', class_="-fs16 -pts")
verified_ratings.get_text()

'17 verified ratings'

In [32]:
all_ratings = soup2.find_all('li', class_="-df -i-ctr -ptxs -m")
for val in all_ratings:
    print(val.get_text())

5(7)
4(2)
3(3)
2(2)
1(3)

In [96]:
reviews = soup2.find_all('article', class_="-pvs -hr _bet")
# print(reviews)
ratings = list()
titles = list()
reviews_ = list()
date_ = list()
reviewed_by = list()
verified_purchaser = list()
for review in reviews:
    # print("rating : ", review.find('div', class_="stars _m _al -mvs").get_text())
    rating = review.find('div', class_="stars _m _al -mvs").get_text()
    ratings.append(rating)
    # print("title : ", review.find('h3', class_="-m -fs16 -pvs").get_text())
    title = review.find('h3', class_="-m -fs16 -pvs").get_text()
    titles.append(title)
    # print("review : ", review.find('p', class_="-pvs").get_text())
    rev = review.find('p', class_="-pvs").get_text()
    reviews_.append(rev)
    # print("date : ", review.find('span', class_="-prs").get_text())
    date = review.find('span', class_="-prs").get_text()
    date_.append(date)
    # print("by : ", review.find('div', class_="-pvs").get_text())
    by = review.find('div', class_="-pvs").get_text()
    reviewed_by.append(by)
    # print("verified : ", review.find('div', class_="-df -i-ctr -gn5 -fsh0").get_text())
    verified = review.find('div', class_="-df -i-ctr -gn5 -fsh0").get_text()
    verified_purchaser.append(verified)
    # print(ratings)
print(len(ratings))
print(len(titles))
print(len(reviews_))
print(len(date_))
print(len(reviewed_by))

10
10
10
10
10

In [100]:
# for pandas
import pandas as pd
data = {
    'ratings' : ratings,
    'title' : titles,
    'review' : reviews_,
    'date' : date_,
    'reviewd_by' : reviewed_by
}

my_d = pd.DataFrame(data)
my_d.head()

,ratings,title,review,date,reviewd_by
0,5 out of 5,Love the product,"It's worth the amount, the bass is just qualit...",09-05-2024,09-05-2024by Charles
1,3 out of 5,Value for money,I guess its not 9000watts or anywhere close to...,09-05-2024,09-05-2024by James
2,1 out of 5,Broken plug,It came with the plug broken already.,06-05-2024,06-05-2024by EDWIN LIYAI
3,4 out of 5,Good,Nice one,06-05-2024,06-05-2024by Brighton
4,1 out of 5,not the real size,The speaker is not the same as it looks in pho...,06-05-2024,06-05-2024by Brian

In [103]:
# pagination problem
# if no reviews preset exit
# if reviews are present then walk through all the pages

# identify if the are reviews,

no_reviews_url = 'https://www.jumia.co.ke/generic-beitian-high-precision-glonass-bds-galileo-gps-antenna-waterproof-gnss-rtk-board-receiver-antenna-bt-300-model-multi-frequency-antenna-166227973.html'

reviews = soup2.find_all('article', class_="-pvs -hr _bet")

AttributeError: 'Index' object has no attribute '_format_native_types'

In [98]:
# for pandas
import pandas as pd
data = {
    five_star_review :list(),
    verified_ratings : list()
}